<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Сегодня</h5>
                <h5>{{ current_date }}</h5>
            </div>
            <div class="col-6 col-md">
                <h5>Зачем вести дневник?</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Самопознание и саморефлексия</a></li>
                    <li><a class="text-muted" href="#">Разрядка и снятие стресса</a></li>
                    <li><a class="text-muted" href="#">Развитие памяти</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Как начать?</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Зарегистрируйтесь на сайте.</a></li>
                    <li><a class="text-muted" href="#">Создайте новую запись.</a></li>
                    <li><a class="text-muted" href="#">Запишите свои мысли.</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>